body {
  background-color: black;
}

.keypad {
  position: absolute;;
  width: 80%;
  left: 12%;
  top: 33%;
}

.row div {
  display: inline-block;
  padding: 3%;
  width: 22%;
  margin: .5%;
  text-align: center;
  color:white;
  background-color: #3b3b3b;
  border-right: 4px solid #9b9b9b;
  border-left: 4px solid #8b8b8b;
  border-top: 4px solid #7b7b7b;
  border-bottom: 4px solid #6b6b6b;
  border-radius: 3px
}

.row div:hover {
  background-color: #1d1d1d;
  box-shadow: inset 0 0 1em black;
  border: 4px solid #171717;
}

.row .button {
  visibility:hidden;
}
